NODE_ENV=
PORT= 
#session secret
JWT_SECRET=
CLIENT_URL=

# Mongo Database login
MONGO_URL=
PASSWORD=
MONGO_DB_NAME=

# AWS login to S3 bucket
AWS_ACCESS_KEY_ID=  
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=

# Checkout with Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# Redis for cart management
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=



