html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
/* NAV BAR SECTION */


/* NAVBAR */
.custom-navbar {
  background-color: #1f1f1f;
}

/* Brand */
.custom-navbar .brand-logo {
  font-weight: 600;
  padding-left: 10px;
}

/* Links */
.custom-navbar a {
  color: #f5f5f5;
}

.custom-navbar ul li a:hover {
  background-color: #2c2c2c;
}

/* Dropdown */
.dropdown-content {
  background-color: #1f1f1f;
}

.dropdown-content li > a {
  color: #f5f5f5;
}

.dropdown-content li > a:hover {
  background-color: #2c2c2c;
}

/* Divider */
.dropdown-content .divider {
  background-color: rgba(255, 255, 255, 0.15);
}

/* Navbar shadow (subtle) */
.custom-navbar {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}


/* HERO SECTION */

.hero {
  min-height: 20vh;
  max-height: 380px;
  background-image: url("https://images.unsplash.com/photo-1550547660-d9450f859349");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
}

.hero-title {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.hero-subtitle {
  color: #eee;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

/* PRODUCT CARD */

/* .product-card .card-image {
  position: relative;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.product-card .card-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-card-content {
  flex-grow: 1;
}

/* bottom row spacing */
.product-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card .card-image {
  position: relative;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.product-card .card-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

