/* INITIAL CSS TO FIX FOOTER TO BOTTOM */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

/* NAV BAR SECTION */