/* INITIAL CSS TO FIX FOOTER TO BOTTOM */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

/* DASHBOARD SECTION */


.admin-sidebar {
  height: calc(100vh - 64px);
  border-right: 1px solid #ddd;
}

.admin-dashboard {
  margin-top: 20px;
}

.collection-item.active {
  background-color: #eceff1;
  font-weight: bold;
}

